@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    font-family: "Roboto";
}


.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.row{
    display: block;
    margin-bottom: 10px;
}

.input{
    border: 0;
    margin: 0;
    outline: 0;
    width: 100%;
}
.input.default{
    padding: 10px 20px;
}

.input.dark{
    background-color: #222;
    color: #f2f2f2;
}

.input.action{

}

.error-label{
    padding: 10px 0;
    color: red;
    display: block;
}
